/* Nơi khai báo biến css */
:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Phần chuẩn bị cho responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

/* Trong trường hợp ko muốn sử dụng width: 1200px thì thêm class grid__full-width ở dưới vào */
.grid__full-width {
    width: 100%;
}

/* Những thẻ dùng class grid__row sẽ nằm cùng trên 1 hàng ngang nhờ display: flex */
.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    } 
}

/* Modal CSS */
.modal {
    /* Làm cho phần modal chiếm hết màn hình */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33333333333333)
}

.modal__body {
    background-color: var(--white-color);
    border-radius: 5px;
    margin: auto;
    /* Vì lớp body nằm dưới lớp overlay do lớp overlay dùng thuộc tính position khiến lớp overlay nằm trên một lớp cao hơn
    Cách giải quyết là thêm thuộc tính position vào phần body*/
    position: relative;
    /* Để chắc chắn, chúng ta dùng thuộc tính z-index và cho giá trị z-index ở body cao hơn giá trị z-index ở overlay.
    Mặc định giá trị z-index ở overlay = 0 nếu không dùng thuộc tính z-index */
    z-index: 1;
}